html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


header {
  margin-top: 0px;

}

.welcome {
  width: 100vw;
  text-align: center;
}


.main-content{
  display: flex;
  gap: 3%;
  padding: 20px 200px;
  align-items: flex-start;
  font-family:Arial, Helvetica, sans-serif;
}



