@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.welcome-container {
  text-align: center;
  margin-bottom: 2rem;

  font-family: "Roboto", Arial, Helvetica, sans-serif;

  background-image: url("../assets/luxuryestate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;

  padding: 15% 0;
  /* ⬅ FIX: no horizontal padding */
}

.welcome-title {
  font-size: 400%;
  font-weight: bolder;
  color: white;

}

.welcome-subtitle {
  font-size: 120%;
  color: rgb(238, 238, 238);
}