.welcome-title {
  font-size: 190%;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
  background: linear-gradient(to top, #070093, #31006c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  
}

.welcome-subtitle {
  font-size: 110%;
  color: rgb(71, 71, 71);
}
